@import "reset.css";
@import "status-bar.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@300&display=swap");
@import "variables.css";

body {
  font-family: "Open Sans", sans-serif;
}

.Welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}
.Welcome-header__text {
  width: 60%;
  opacity: 0.7;
}
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

/*status bar--*/

/*나열하려면 display: flex;*/
/*양쪽 width 안맞춰지지만  양쪽 정렬 :justify-content: space-between;
 양쪽 width 맞춰짐 양쪽 정렬 : css hack : 
 /reset css : body 에 margin 이 생겨서 지우기/
 /맨처음 reset 시키는게 좋음/
 /*display:flex "everything is center"-- text-align:center 차이
 글과 */
/*flex-direction: column;나란이가 아닌 위아래 위치*/
/*margin 잘보기*/
/* #id, class .*/
/*#login-form input===모든 input*/
/*0,0,0,0.3 여기서 마지막은 opacity 로 표현된것*/
/*모든 페이지의 input에 넣기위해, reset.css로 간다*/
