.Welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}
.Welcome-header__text {
  width: 60%;
  opacity: 0.7;
}
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  cursor: pointer;
  padding: 22px 0px;
  border-radius: 5px;
}
#login-form input:hover[type="submit"] {
  background-color: var(--yellow);
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}

/*나열하려면 display: flex;*/
/*양쪽 width 안맞춰지지만  양쪽 정렬 :justify-content: space-between;
 양쪽 width 맞춰짐 양쪽 정렬 : css hack : 
 /reset css : body 에 margin 이 생겨서 지우기/
 /맨처음 reset 시키는게 좋음/
 /*display:flex "everything is center"-- text-align:center 차이
 글과 */
/*flex-direction: column;나란이가 아닌 위아래 위치*/
/*margin 잘보기*/
/* #id, class .*/
/*#login-form input===모든 input*/
/*0,0,0,0.3 여기서 마지막은 opacity 로 표현된것*/
/*모든 페이지의 input에 넣기위해, reset.css로 간다*/
/*css not 뭔가가 적용되는 걸 원하지 않을때
/*login-form input:not([type="submit"]) 인풋이 서밋 아닐때는~적용된다*/
/*login-from input:not()--is: not*/
/*[]type*/
/*변수: 수식에 따라서 변하는 값
미리 정리히는 게 좋음 https://www.youtube.com/watch?v=67stn7Pu7s4 참고*/
/*inherit은 a가 color를 login-from(아버지)로부터 받는것
default 를 없애주기위함==전부 black(아버지) 이기 때문에 black 으로 돌려짐*/
/*.login-form__input{} / .login-form__btn{}/.login-form__a{}*/
