@keyframes badgeanimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  animation: notificationanimaiton 1s ease-in-out infinite;
}
